In [1]:
import pandas as pd
import numpy as np

In [3]:
X = pd.read_csv("../../data/raw/train.csv")
X.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,ita Bose,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,CST_121920,Alper Jonathan,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,CST_109330,Umesh Desai,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,CST_128288,Rie,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,CST_151355,McCool,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0

In [5]:
X = X.drop(["customer_id", "name", "gender"], axis = 1)

X["owns_house"] = X["owns_house"].map({"Y": 1, "N": 0})
X["owns_car"] = X["owns_car"].map({"Y": 1, "N": 0})

X.head()

,age,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,46,0.0,1,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,29,0.0,1,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,37,0.0,1,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,39,0.0,1,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,46,1.0,1,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0

In [7]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value=-1)
#encoude the occupation type feature as this will help with imputation
X["occupation_type"] = encoder.fit_transform(X[["occupation_type"]])

X.head()

,age,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,46,0.0,1,0.0,107934.04,612.0,17.0,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,29,0.0,1,0.0,109862.62,2771.0,8.0,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,37,0.0,1,0.0,230153.17,204.0,8.0,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,39,0.0,1,0.0,122325.82,11941.0,3.0,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,46,1.0,1,0.0,387286.00,1459.0,3.0,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0

In [9]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
#choose iterive imputer as I expect this to be a good imputation on more complex models
imputer = IterativeImputer()
X_imputed = imputer.fit_transform(X)

X_imputed = pd.DataFrame(
    X_imputed, 
    columns=X.columns, 
    index=X.index
)

X_imputed.head()

,age,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,46.0,0.0,1.0,0.0,107934.04,612.0,17.0,1.0,1.0,33070.28,18690.93,73.0,544.0,2.0,1.0,1.0
1,29.0,0.0,1.0,0.0,109862.62,2771.0,8.0,2.0,0.0,15329.53,37745.19,52.0,857.0,0.0,0.0,0.0
2,37.0,0.0,1.0,0.0,230153.17,204.0,8.0,2.0,0.0,48416.60,41598.36,43.0,650.0,0.0,0.0,0.0
3,39.0,0.0,1.0,0.0,122325.82,11941.0,3.0,2.0,0.0,22574.36,32627.76,20.0,754.0,0.0,0.0,0.0
4,46.0,1.0,1.0,0.0,387286.00,1459.0,3.0,1.0,0.0,38282.95,52950.64,75.0,927.0,0.0,0.0,0.0

In [15]:
missing = X_imputed.isnull().sum()
missing = missing[missing > 0].sort_values(ascending=False)
missing

Series([], dtype: int64)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

features = ['credit_limit_used(%)', 'credit_score', 'prev_defaults', 'default_in_last_6months']
target = 'credit_card_default'

x = X_imputed[features]
y = X_imputed[target]

X_train, X_val, y_train, y_val = train_test_split(
    x, y, test_size=0.2, random_state=42, stratify=y
)

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_val_pred = model.predict(X_val)
y_val_prob = model.predict_proba(X_val)[:,1]

# Classification report
print(classification_report(y_val, y_val_pred))

# Confusion matrix
print("Confusion Matrix:")
print(confusion_matrix(y_val, y_val_pred))

# ROC-AUC
roc_auc = roc_auc_score(y_val, y_val_prob)
print(f"ROC-AUC Score: {roc_auc:.3f}")

              precision    recall  f1-score   support

         0.0       0.98      1.00      0.99      8367
         1.0       0.96      0.78      0.86       739

    accuracy                           0.98      9106
   macro avg       0.97      0.89      0.93      9106
weighted avg       0.98      0.98      0.98      9106

Confusion Matrix:
[[8342   25]
 [ 161  578]]
ROC-AUC Score: 0.994

Very small increase in performance of 0.01 for recall and f1 in the defaulting class, while this is small, this is expected for a simple linear model like a logistic regression.

In [20]:
from pathlib import Path

processed_dir = Path("../../data/processed")
processed_dir.mkdir(parents=True, exist_ok=True)

In [22]:
output_file = processed_dir / "imputed_dataset.csv"
X_imputed.to_csv(output_file, index=False)